/current_schwab_data.csv
/fucking_mongrels.png
/green_fucking_mongrels.png
/just_stuff.zip
/make_schwab_ynab_compatible.ipynb
/red_fucking_mongrels.png
/run_sim.py
/spx_range_backtest.xlsx
/Strategy on these is just the standard M.md
/tbd.py
/__pycache__